<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nb">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<img src="shield.png" alt="" class="autolink hide nav-shield" data-href="" />
	</div>
	<div class="collapse navbar-collapse" id="nb">
		<div class="visible-xs-block nav-block"></div>
		<div class="navbar-right">
			<ul class="nav navbar-nav">
				<li><a href="#" data-href="docs" class="autolink">Documentation</a></li>
				<li><a href="#" class="navbar-link language-select"></a></li>
			</ul>
		</div>
	</div>
</div>