<div class="footer">
	<div class="container">
		<div class="clearfix">
			
			<div class="footer-logo text-center">
				<img src="shield.png" class="shield" alt="" />
				<a href="">battle-backbone</a>
			</div>
			
			<dl class="footer-nav">
				<dd class="nav-item"><a href="https://65535th.com/battle-backbone">Project page</a></dd>
				<dd class="nav-item"><a href="https://github.com/dak0rn/generator-battle-backbone">GitHub</a></dd>
				<dd class="nav-item"><a href="https://npmjs.org/packages/generator-battle-backbone">NPM</a></dd>
			</dl>
			
			<dl class="footer-nav">
				<dd class="nav-item"><a href="https://github.com/dak0rn/generator-battle-backbone/issues">Issues</a></dd>
				<dd class="nav-item"><a href="https://github.com/dak0rn/generator-battle-backbone/pulls">Pull requests</a></dd>
			</dl>
			
		</div>
	</div>
</div>