nav {
	margin-bottom: 0 !important;
}

nav a:link,
nav a:visited {
	color: #fff !important;
}

nav a:focus,
nav a:hover,
nav a:active {
	text-decoration: underline;
}

.nav-shield {
	position: absolute;
	top: 1px;
	left: 10px;
	height: 80px;
	opacity: 0;
	transition: opacity 0.2s;
	cursor: pointer;
	z-index: 9999;
}

.nav-shield.show-shield {
	opacity: 1 !important;
}

.nav-block {
	height: 2em;
}